*zig-out
*.zig-cache
src/extern/*
secrets/*

logs
out
cmd
*.out
*.c
*.gz
*pycache*
*.vscode/

engines/bin/*
engines/heuristics/tmp/*
engines/heuristics/archive/*
engines/tmp/*
#test/*
opening
zig-pkg


